.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: $footerMinHeight;
    color: $colorText_light;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        height: 100%;

        @media (max-width: $md) {
            flex-direction: column-reverse;
        }
    }

    &__copy {
        font-size: 13px;
    }

    &__payment {
        display: flex;
        gap: 38px;
        @media (max-width: $md) {
            gap: 16px;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    &__contacts {
        display: flex;
        gap: 38px;
        @media (max-width: $md) {
            gap: 16px;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    &__separator {
        width: 1px;
        height: 18px;
        background-color: #C3C3C3;

        @media (max-width: $md) {
            width: 18px;
            height: 1px;
        }
    }
}