.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: $footerMinHeight;
    color: $colorText_light;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        height: 100%;

        @media (max-width: $md) {
            flex-direction: column-reverse;
        }
    }

    &__copy {
        font-size: 13px;
    }

    &__payment {
        display: flex;
        gap: 38px;
    }

    &__contacts {
        display: flex;
        gap: 38px;
    }
}