.header {
    background-color: rgba($color: #10101d, $alpha: 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-height: $headerMinHeight;
    }

    &__logo {
    }

    &__logo-img {
    }

    &__menu {
    }
}
