.header {
    background-color: rgba($color: #10101d, $alpha: 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-height: $headerMinHeight;
    }

    &__logo {
    }

    &__logo-img {
    }

    &__menu {
        @media (max-width: $md) {
            transform: translateX(100vw);
            top: $headerMinHeight;
            position: absolute;
            left: 0;
            width: 100vw;
            transition: all .4s;
            opacity: 0;
        }
        &--show {
            @media (max-width: $md) {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    &__toggle-menu {
        display: none;
        width: 60px;
        height: 60px;
        border: none;
        background-color: transparent;
        @media (max-width: $md) {
           display: block;
        }
    }
}
