.ordering {
    background-color: hsl(240, 13%, 18%);
    background-image: url(../images/ordering-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: hsl(0, 0%, 100%);
    
    @media (min-width: $xxl) {
        background-position: center top -15px;
        background-size: contain;
    }

    &__container {
        padding-top: 120px;
        padding-bottom: 150px;

        @media (max-width: $md) {
            padding-top: 80px;
            padding-bottom: 120px;
        }
        @media (max-width: $sm) {
            padding-top: 60px;
            padding-bottom: 100px;
        }
    }

    &__header {
        margin-bottom: 82px;

        @media (max-width: $md) {
            margin-bottom: 60px;
        }
        @media (max-width: $sm) {
            margin-bottom: 40px;
        }
    }

    &__title {
        text-transform: uppercase;
        max-width: 800px;
        margin-bottom: 38px;
        margin-right: auto;
        margin-left: auto;
    }

    &__notice {
        color: hsl(0, 0%, 73%);
        font-size: 18px;
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
    }

    &__steps {
        
        margin-bottom: 84px;

        @media (max-width: $md) {
            padding-left: 8vw;
        }

        @media (max-width: $sm) {
            margin-bottom: 60px;
            padding-left: 0;
        }
    }

    &__steps-row {
        display: flex;
        justify-content: center;
        flex-wrap: no-wrap;
        gap: 10px;
        margin-bottom: 20px;

        @media (max-width: $md) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__step {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
        flex: 0 1 calc(20% - 16px);
        text-align: center;
        z-index: 1;
        position: relative;

        @media (max-width: $md) {
            flex-direction: row;
            text-align: left;
            width: 100%;
        }
    }

    &__separator {
        position: relative;

        &::before {
            content: '\2063\25CF\25CF\25CF\25CF\25CF';
            font-family: serif;
            font-size: 12px;
            letter-spacing: 19px;
            position: absolute;
            top: 42px;
            left: 0;
            transform: translateX(-50%);

            @media (max-width: $maxWidthContainer + px) {
                letter-spacing: 1.3vw;
            }

            @media (max-width: $lg) {
                content: '\2063\25CF\25CF\25CF';
                letter-spacing: 1.5vw;
            }

            @media (max-width: $md) {
                content: '';
                display: none;
            }
        }

        @media (max-width: $md) {
            display: none;
        }
    }

    &__step-icon {
        flex-shrink: 0;
        height: 100px;
        width: 100px;
        border: 5px solid $color-primary_reflection;
        border-radius: 50%;
        background-color: $color-primary;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: $md) {
            height: 80px;
            width: 80px;
        }
    }

    &__step-label {
        line-height: 1.2;
    }

    &__form {
        
    }
}