.logo {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 28px;
    color: #fff;
    @media (max-width: $sm) {
        font-size: 24px;
    }
    &__img {
        height: 2rem;
        width: auto;
    }
}
