.ordering-form {
    --grid-cols: 3;
    --grid-gap: 30px;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    gap: var(--grid-gap);

    &__input {
        height: 48px;
    }

    &__range-slider {
        grid-column: span 2;
        align-self: end;
    }


    &__submit-button {
        padding: 0;
        grid-column: 1/-1;
        margin-top: 25px;
        width: calc(33.3% - var(--grid-gap) / 2);
        justify-self: center;

        @media (max-width: $lg) {
            width: 100%;
        }
    }

    @media (max-width: $lg) {
        --grid-cols: 2;
    }

    @media (max-width: $md) {
        --grid-cols: 1;
    }
}