.input-text {
    background-color: #DFDFE1;
    color: #272733;
    font-size: 18px;
    padding: 10px 12px;
    border: 1px solid #fff;
    border-radius: 3px;

    &::placeholder {
        color: #272733;
        opacity: 1;
    }
}